* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Radley";
  src: url("../fonts/Radley-Regular.woff2") format("woff2"), url("../fonts/Radley-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Radley";
  src: url("../fonts/Radley-Italic.woff2") format("woff2"), url("../fonts/Radley-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
:root {
  /* Brand colors */
  --brand-100: #f2eade;
  --brand-200: #e5d6be;
  --brand-300: #d8c19d;
  --brand-400: #cbad7d;
  --brand-500: #be985c;
  --brand-600: #987a4a;
  --brand-700: #725b37;
  --brand-800: #4c3d25;
  --brand-900: #261e12;
  /* Darkblue colors */
  --darkblue-100: #ced2d9;
  --darkblue-200: #9ca5b2;
  --darkblue-300: #6b788c;
  --darkblue-400: #394b65;
  --darkblue-500: #081e3f;
  --darkblue-600: #061832;
  --darkblue-700: #051226;
  --darkblue-800: #030c19;
  --darkblue-900: #02060d;
  /* Neutral colors */
  --neutral-100: #d9dadd;
  --neutral-200: #b3b6bb;
  --neutral-300: #8c9199;
  --neutral-400: #666d77;
  --neutral-500: #404855;
  --neutral-600: #333a44;
  --neutral-700: #262b33;
  --neutral-800: #1a1d22;
  --neutral-900: #0d0e11;
  /* Primary colors */
  --primary-white: #fff;
  --primary-black: #000;
  --primary-white-50: rgba(255, 255, 255, 0.5);
  --primary-black-50: rgba(0, 0, 0, 0.5);
  /* Content & UI elements */
  --content-text-dark: #172339;
  --content-secondary-text: #404855;
  --content-button-1: #081e3f;
  --content-button-2: #be985c;
  --content-icons: #cbac7c;
  --content-text-light: #f3f2f0;
  --content-pagination: #f0ede0;
  --border-line: #cbac7c;
  --bg-dark: #081e3f;
  --bg-light: #faf9f5;
  --content-logos: #b2afa4;
  /* font families*/
  --font-family: "Montserrat", sans-serif;
  --second-family: "Radley", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  background: var(--primary-white);
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 75rem) {
  body._lock {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .--resize-animation-stopper {
  -webkit-transition: none;
  transition: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 1.75rem;
}
@media (max-width: 61.9988rem) {
  [class*=__container] {
    padding-inline: 1.5rem;
  }
}
@media (max-width: 31.25rem) {
  [class*=__container] {
    padding-inline: 1rem;
  }
}

img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.button {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144%;
  color: var(--primary-white);
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  background: var(--brand-500);
}
@media (max-width: 61.9988rem) {
  .button {
    padding: 0.75rem 1rem;
  }
}
.button {
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background: var(--brand-600);
  }
}
.button-secondary {
  background: var(--darkblue-500);
}
@media (any-hover: hover) {
  .button-secondary:hover {
    background: var(--darkblue-400);
  }
}

.ibg {
  position: relative;
}
.ibg img,
.ibg video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.title {
  font-family: var(--second-family);
  font-size: 1.75rem;
  line-height: 143%;
  color: var(--content-text-dark);
}
@media (min-width: 61.9988rem) {
  .title {
    font-size: 2.75rem;
    line-height: 109%;
  }
}

.pagination {
  margin-top: 1.5rem;
}
@media (min-width: 61.9988rem) {
  .pagination {
    display: none;
  }
}
.pagination {
  text-align: center;
}
.pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0;
  opacity: 1;
  background: var(--content-pagination);
}
.pagination.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 0.5rem;
}
.pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--darkblue-500);
}

.swiper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (max-width: 61.9988rem) {
  .swiper-nav {
    display: none;
  }
}
.swiper-nav__button {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--darkblue-500);
  color: var(--primary-white);
  border: 0.0625rem solid var(--darkblue-500);
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .swiper-nav__button:hover {
    background: var(--darkblue-400);
  }
}
.swiper-nav__button svg {
  width: 1.125rem;
  height: 1.125rem;
}
.swiper-nav__button.swiper-button-disabled {
  background: transparent;
  color: var(--darkblue-500);
  cursor: not-allowed;
}
@media (any-hover: hover) {
  .swiper-nav__button.swiper-button-disabled:hover {
    background: none;
    border-color: var(--darkblue-400);
    color: var(--darkblue-400);
  }
}
.swiper-nav__button-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.section-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.section-back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#081e3f), color-stop(52.4%, rgba(25, 31, 38, 0.32)), to(#081e3f));
  background: linear-gradient(180deg, #081e3f 0%, rgba(25, 31, 38, 0.32) 52.4%, #081e3f 100%);
}

.header {
  padding: 0.75rem 0;
  background: var(--primary-white);
  position: relative;
  z-index: 100;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media (max-width: 61.9988rem) {
  .header__container {
    gap: 1.5rem;
  }
}
@media (max-width: 43.6875rem) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 31.25rem) {
  .header__container {
    padding-inline: 1.5rem;
  }
}
@media (max-width: 75rem) {
  .header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--primary-white);
    z-index: 2;
  }
}
.header__logo {
  position: relative;
  z-index: 3;
}
@media (min-width: 75rem) {
  .header__logo {
    padding-right: 2rem;
    position: relative;
  }
  .header__logo::after {
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 2rem;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: var(--brand-500);
  }
}
.header__link {
  display: block;
  width: 133px;
}
@media (max-width: 1440px) {
  .header__link {
    width: calc(81px + 52 * (100vw - 390px) / 1050);
  }
}
@media (min-width: 43.75rem) {
  .header__mobile-wrapper {
    display: contents;
  }
}
@media (max-width: 43.6875rem) {
  .header__mobile-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(5, 17, 36, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease 0.2s;
    transition: all 0.2s ease 0.2s;
  }
  .header__mobile-wrapper:has(.header-menu._active) {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    opacity: 1;
    visibility: visible;
  }
  .header__mobile-wrapper:has(.header-menu._active) .header__mobile-body {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
  }
}
@media (min-width: 43.75rem) {
  .header__mobile-body {
    display: contents;
  }
}
@media (max-width: 43.6875rem) {
  .header__mobile-body {
    width: 17.5rem;
    height: 100%;
    padding-top: 7.5rem;
    padding-inline: 1.5rem;
    padding-bottom: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    overflow: auto;
    background: var(--primary-white);
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
}

@media (min-width: 43.75rem) and (max-width: 75rem) {
  .header-menu {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(5, 17, 36, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease 0.2s, visibility 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, visibility 0.2s ease 0.2s;
  }
  .header-menu._active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;
  }
  .header-menu._active .header-menu__list {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease 0.1s;
    transition: -webkit-transform 0.3s ease 0.1s;
    transition: transform 0.3s ease 0.1s;
    transition: transform 0.3s ease 0.1s, -webkit-transform 0.3s ease 0.1s;
  }
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 1440px) {
  .header-menu__list {
    gap: calc(30px + 10 * (100vw - 390px) / 1050);
  }
}
@media (min-width: 43.75rem) and (max-width: 75rem) {
  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.125rem;
    width: 17.5rem;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    padding-inline: 1.75rem;
    padding-top: 7.5rem;
    padding-bottom: 1.875rem;
    height: 100%;
    overflow: auto;
    background: var(--primary-white);
    transition: transform 0.3s ease 0s;
  }
}
@media (min-width: 43.75rem) and (max-width: 75rem) and (max-width: 61.9988rem) {
  .header-menu__list {
    padding-inline: 1.5rem;
  }
}
@media (max-width: 75rem) {
  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
.header-menu__link {
  color: var(--content-text-dark);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header-menu__link:hover {
    color: var(--brand-500);
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-left: auto;
  position: relative;
  z-index: 3;
}
@media (max-width: 61.9988rem) {
  .actions-header {
    gap: 1.5rem;
  }
}
@media (max-width: 43.6875rem) {
  .actions-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.25rem;
  }
}
.actions-header__numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144%;
  text-align: right;
  color: var(--darkblue-500);
}
@media (any-hover: hover) {
  .actions-header__numb:hover .actions-header__text {
    color: var(--brand-600);
  }
}
@media (min-width: 43.75rem) and (max-width: 61.9988rem) {
  .actions-header__numb {
    font-size: 1.0625rem;
  }
}
.actions-header__icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.actions-header__icon svg {
  width: 20px;
  height: 20px;
}
.actions-header__text {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu {
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  background: transparent;
  position: relative;
  z-index: 3;
  padding: 0.8125rem 0.75rem;
}
.burger-menu__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.burger-menu._active .burger-menu__line-2 {
  width: 0;
  -webkit-transition: all 0s ease 0.3s;
  transition: all 0s ease 0.3s;
}
.burger-menu._active .burger-menu__line-1 {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(40deg) translate(0, -50%);
      -ms-transform: rotate(40deg) translate(0, -50%);
          transform: rotate(40deg) translate(0, -50%);
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}
.burger-menu._active .burger-menu__line-3 {
  position: absolute;
  bottom: 50%;
  left: 0;
  -webkit-transform: rotate(-40deg) translate(0, 50%);
      -ms-transform: rotate(-40deg) translate(0, 50%);
          transform: rotate(-40deg) translate(0, 50%);
  -webkit-transition: bottom 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}
@media (max-width: 75rem) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger-menu__line {
  background: #000000;
  width: 100%;
  height: 0.125rem;
  border-radius: 6.25rem;
  position: absolute;
}
.burger-menu__line-1 {
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
}
.burger-menu__line-2 {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0s ease 0.3s;
  transition: all 0s ease 0.3s;
}
.burger-menu__line-3 {
  bottom: 0;
  left: 0;
  -webkit-transition: bottom 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: bottom 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, bottom 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, bottom 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
}

.home-hero {
  position: relative;
}
.home-hero__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-block: 3.75rem;
  gap: 2.75rem;
  color: var(--primary-white);
}
@media (max-width: 47.9988rem) {
  .home-hero__container {
    padding-block: 2.75rem;
  }
}
@media (min-width: 61.9988rem) {
  .home-hero__container {
    gap: 5rem;
  }
}
@media (max-width: 42.5rem) {
  .home-hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0rem;
  }
}
.home-hero__info {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 39.25rem;
}
@media (min-width: 75rem) {
  .home-hero__info {
    margin-left: 7.375rem;
  }
}
@media (max-width: 42.5rem) {
  .home-hero__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.home-hero__title {
  font-size: 2.25rem;
  margin-bottom: 1.75rem;
  font-family: var(--second-family);
  line-height: 110%;
}
@media (min-width: 61.9988rem) {
  .home-hero__title {
    font-size: 3.25rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 42.5rem) {
  .home-hero__title {
    max-width: 31.25rem;
  }
}
@media (max-width: 42.5rem) {
  .home-hero__title {
    margin-inline: auto;
  }
}
.home-hero__benefits {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 2.75rem;
}
@media (max-width: 42.5rem) {
  .home-hero__benefits {
    width: 100%;
  }
}
.home-hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 143%;
  color: var(--content-text-light);
}
@media (min-width: 61.9988rem) {
  .home-hero__item {
    font-size: 1rem;
    line-height: 150%;
  }
}
.home-hero__item:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (max-width: 42.5rem) {
  .home-hero__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home-hero__icon {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-hero__icon svg {
  width: 18px;
  height: 18px;
}
@media (min-width: 61.9988rem) {
  .home-hero__icon {
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-hero__icon svg {
    width: 20px;
    height: 20px;
  }
}
.home-hero__button {
  padding: 1rem 1.25rem;
}
@media (max-width: 30rem) {
  .home-hero__button {
    display: block;
    width: 100%;
  }
}

.card-home-hero {
  position: relative;
  z-index: 2;
}
@media (min-width: 61.9988rem) {
  .card-home-hero {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.5rem;
            flex: 0 0 27.5rem;
  }
}
@media (max-width: 61.9988rem) {
  .card-home-hero {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19.875rem;
            flex: 0 0 19.875rem;
  }
}
@media (max-width: 42.5rem) {
  .card-home-hero {
    max-width: 27.5rem;
    margin: 0 auto;
  }
}
.card-home-hero__card {
  display: block;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background: rgba(8, 30, 63, 0.1);
  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);
  border: 0.0625rem solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  will-change: backdrop-filter, transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  isolation: isolate;
}
@media (any-hover: hover) {
  .card-home-hero__card:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.3);
  }
}
.card-home-hero__image {
  display: block;
  aspect-ratio: 16/9;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.card-home-hero__image img {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.card-home-hero__body {
  padding: 0 0.5rem 0.5rem;
}
.card-home-hero__title {
  margin-bottom: 0.5rem;
  font-family: var(--second-family);
  font-size: 1.5rem;
  line-height: 133%;
  color: var(--primary-white);
}
@media (min-width: 61.9988rem) {
  .card-home-hero__title {
    font-size: 1.75rem;
    line-height: 143%;
  }
}
.card-home-hero__subtitle {
  font-size: 0.875rem;
  line-height: 143%;
  color: var(--content-text-light);
  margin-bottom: 1.25rem;
}
@media (min-width: 61.9988rem) {
  .card-home-hero__subtitle {
    margin-bottom: 1.5rem;
  }
}
.card-home-hero__button {
  color: var(--content-icons);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.625rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144%;
  padding-block: 0.5rem;
}
@media (min-width: 61.9988rem) {
  .card-home-hero__button {
    padding-block: 0.5625rem;
  }
}
.card-home-hero__icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-home-hero__icon svg {
  width: 24px;
  height: 24px;
}

.home-services {
  background: var(--darkblue-500);
  padding-top: 3.75rem;
  padding-bottom: 5rem;
}
@media (max-width: 47.9988rem) {
  .home-services {
    padding-block: 3.75rem;
  }
}
@media (max-width: 31.25rem) {
  .home-services {
    padding-block: 2rem;
  }
}
.home-services__container {
  max-width: 75.25rem;
}
.home-services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (max-width: 61.9988rem) {
  .home-services__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 39.375rem) {
  .home-services__items {
    gap: 0;
  }
}
.home-services__item {
  color: var(--content-text-light);
  text-align: center;
  padding: 0.75rem;
}
@media (min-width: 61.9988rem) {
  .home-services__item {
    padding: 1.625rem;
  }
}
.home-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-services__icon {
  color: var(--content-icons);
  margin-bottom: 1rem;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-services__icon svg {
  width: 60px;
  height: 60px;
}
.home-services__icon {
  margin-inline: auto;
}
@media (min-width: 47.9988rem) {
  .home-services__icon {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 630px) {
  .home-services__icon {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-services__icon svg {
    width: 40px;
    height: 40px;
  }
}
.home-services__title {
  font-family: var(--second-family);
  font-size: 1.5rem;
  line-height: 133%;
  text-align: center;
  margin-bottom: 0.75rem;
}
@media (min-width: 61.9988rem) {
  .home-services__title {
    font-size: 1.75rem;
    line-height: 143%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 39.375rem) {
  .home-services__title {
    font-size: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 31.25rem) {
  .home-services__title {
    margin-bottom: 0;
  }
}
.home-services__text {
  line-height: 150%;
}
@media (max-width: 39.375rem) {
  .home-services__text {
    display: none;
  }
}

.category {
  padding-block: 4rem;
}
@media (max-width: 43.75rem) {
  .category {
    padding-block: 3.75rem;
  }
}
@media (max-width: 28.125rem) {
  .category {
    padding-block: 2.75rem;
  }
}
.category__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 38.75rem) {
  .category__title {
    text-align: center;
    width: 100%;
  }
}
.category__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.category__button {
  padding: 1rem 4rem;
}
@media (max-width: 38.75rem) {
  .category__button {
    display: none;
  }
}
@media (min-width: 38.75rem) {
  .category__footer {
    display: none;
  }
}
.category__footer {
  text-align: center;
  margin-top: 2rem;
}
.category__mobile-button {
  padding: 1rem 4rem;
}
@media (max-width: 30rem) {
  .category__mobile-button {
    display: block;
    text-align: center;
  }
}

@media (max-width: 50rem) {
  .content-category {
    margin-right: -1.5rem;
  }
}
@media (max-width: 31.25rem) {
  .content-category {
    margin-right: -1rem;
  }
}
@media (any-hover: hover) {
  .content-category__swiper {
    padding: 0 1.625rem;
    margin: 0 -1.625rem;
  }
}
.content-category__slide {
  width: 20.125rem;
}
.content-category__slide:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 50rem) {
  .content-category__slide {
    width: 18.75rem;
  }
  .content-category__slide:not(:last-child), .content-category__slide:last-child {
    margin-right: 1.25rem;
  }
}
@media (max-width: 30rem) {
  .content-category__slide {
    width: 15rem;
  }
}
@media (any-hover: hover) {
  .content-category__slide-wrapper:hover .content-category__title {
    color: var(--brand-600);
  }
  .content-category__slide-wrapper:hover .content-category__image {
    -webkit-box-shadow: 0 0.75rem 1.625rem 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 0.75rem 1.625rem 0 rgba(0, 0, 0, 0.24);
  }
  .content-category__slide-wrapper:hover .content-category__image img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.content-category__visual {
  position: relative;
  margin-bottom: 1rem;
  display: block;
}
@media (max-width: 43.75rem) {
  .content-category__visual {
    margin-bottom: 1.3125rem;
  }
}
@media (max-width: 28.125rem) {
  .content-category__visual {
    margin-bottom: 0.75rem;
  }
}
.content-category__image {
  aspect-ratio: 16/9;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.content-category__image img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.content-category__category {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: var(--darkblue-500);
  position: absolute;
  top: 0.8125rem;
  left: 0.75rem;
  font-size: 1rem;
  line-height: 150%;
  color: var(--primary-white);
}
@media (max-width: 61.9988rem) {
  .content-category__category {
    font-size: 0.875rem;
    line-height: 143%;
  }
}
.content-category__title {
  margin-bottom: 0.625rem;
  font-family: var(--second-family);
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--content-text-dark);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.content-category__description {
  font-size: 1rem;
  line-height: 150%;
  color: var(--neutral-500);
}
.home-tips {
  padding-bottom: 1.5rem;
  background: var(--bg-light);
}
@media (min-width: 45.9375rem) {
  .home-tips {
    padding-bottom: 0;
  }
}
.home-tips__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 45.9375rem) {
  .home-tips__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.home-tips__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.75rem;
          flex: 0 0 23.75rem;
  margin-right: 2.5rem;
}
@media (max-width: 90rem) {
  .home-tips__image {
    margin-left: -1.75rem;
  }
}
@media (max-width: 75rem) {
  .home-tips__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.8125rem;
            flex: 0 0 7.8125rem;
  }
}
@media (max-width: 61.9988rem) {
  .home-tips__image {
    margin-left: -1.5rem;
  }
}
@media (max-width: 51.25rem) {
  .home-tips__image {
    margin-right: 1.25rem;
  }
}
@media (max-width: 45.9375rem) {
  .home-tips__image {
    margin-inline: -1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 31.25rem) {
  .home-tips__image {
    margin-left: -1rem;
  }
}
.home-tips__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 61.9988rem) {
  .home-tips__info {
    gap: 1.5rem;
  }
}
.home-tips__info {
  margin-right: 2.5rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 51.25rem) {
  .home-tips__info {
    margin-right: 0.75rem;
  }
}
@media (min-width: 46rem) {
  .home-tips__info {
    margin-bottom: 0;
  }
  .home-tips__info::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 0.0625rem;
    background: var(--brand-500);
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
@media (min-width: 46rem) and (max-width: 51.25rem) {
  .home-tips__info::after {
    margin-left: -0.25rem;
  }
}
@media (max-width: 45.9375rem) {
  .home-tips__info {
    margin-right: 0;
  }
}
.home-tips__icon {
  color: var(--brand-500);
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-tips__icon svg {
  width: 44px;
  height: 44px;
}
.home-tips__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.75rem;
          flex: 0 0 2.75rem;
}
@media (min-width: 45.9375rem) {
  .home-tips__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.home-tips__title {
  font-family: var(--second-family);
  font-size: 1.5rem;
  line-height: 133%;
  margin-bottom: 0.5rem;
  color: var(--content-text-dark);
}
@media (min-width: 61.9988rem) {
  .home-tips__title {
    font-size: 1.75rem;
    line-height: 143%;
    margin-bottom: 0.75rem;
  }
}
.home-tips__subtitle {
  font-size: 1rem;
  line-height: 150%;
  color: var(--neutral-500);
}
@media (min-width: 61.9988rem) {
  .home-tips__subtitle {
    font-size: 1.125rem;
    line-height: 144%;
  }
}
.home-tips__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 45.9375rem) {
  .home-tips__button {
    display: block;
    width: 100%;
  }
}

.home-partners {
  padding-block: 5rem;
}
@media (max-width: 47.9988rem) {
  .home-partners {
    padding-block: 3.75rem;
  }
}
@media (max-width: 28.125rem) {
  .home-partners {
    padding-block: 2.75rem;
  }
}
.home-partners__header {
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 47.9988rem) {
  .home-partners__header {
    margin-bottom: 2.5rem;
  }
}
.home-partners__title {
  margin-bottom: 1.25rem;
}
.content-home-partners {
  max-width: 86.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.375rem;
  margin-inline: auto;
}
.content-home-partners__body {
  min-width: 0;
}
.content-home-partners__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-home-partners__slide-wrapper {
  width: 14rem;
  height: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (any-hover: hover) {
  .content-home-partners__slide-wrapper:hover .content-home-partners__partner-logo {
    -webkit-filter: grayscale(0%) opacity(1);
            filter: grayscale(0%) opacity(1);
  }
}
.content-home-partners__partner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-filter: grayscale(150%) opacity(0.3);
          filter: grayscale(150%) opacity(0.3);
}
.content-home-partners .swiper-nav__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.375rem;
          flex: 0 0 3.375rem;
}
@media (max-width: 61.9988rem) {
  .content-home-partners .swiper-nav__button {
    display: none;
  }
}
.content-home-partners__pagination {
  display: block;
  margin-top: 1.25rem;
}
@media (min-width: 47.9988rem) {
  .content-home-partners__pagination {
    margin-top: 1.75rem;
  }
}

.home-benefits {
  background: var(--darkblue-500);
  padding-block: 2.75rem;
}
.home-benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-white);
  gap: 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 87.5rem) {
  .home-benefits__body {
    gap: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 41.875rem) {
  .home-benefits__body {
    gap: 2rem;
  }
}
.home-benefits__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.home-benefits__info::after {
  content: "";
  height: 4.9375rem;
  width: 0.0625rem;
  background: var(--content-icons);
}
@media (max-width: 87.5rem) {
  .home-benefits__info::after {
    height: 0.0625rem;
    width: 4.9375rem;
  }
}
@media (max-width: 41.875rem) {
  .home-benefits__info::after {
    width: 0.0625rem;
    height: 2.5rem;
  }
}
@media (max-width: 87.5rem) {
  .home-benefits__info {
    gap: 2rem;
  }
}
@media (max-width: 41.875rem) {
  .home-benefits__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }
}
.home-benefits__title {
  font-family: var(--second-family);
  font-size: 1.75rem;
  line-height: 143%;
}
.home-benefits__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 87.5rem) {
  .home-benefits__items {
    max-width: 56.25rem;
    margin-inline: auto;
    gap: 1.5rem;
  }
}
@media (max-width: 41.875rem) {
  .home-benefits__items {
    grid-template-columns: repeat(2, 1fr);
    max-width: 25rem;
  }
}
@media (max-width: 23.75rem) {
  .home-benefits__items {
    grid-template-columns: repeat(1, 1fr);
    max-width: 15.625rem;
  }
}
.home-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-benefits__icon {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-benefits__icon svg {
  width: 44px;
  height: 44px;
}
.home-benefits__icon {
  color: var(--content-icons);
  margin-bottom: 1.25rem;
}
.home-benefits__description {
  font-family: var(--second-family);
  font-size: 1.125rem;
  line-height: 144%;
  color: var(--content-text-light);
}
@media (min-width: 41.875rem) and (max-width: 61.9988rem) {
  .home-benefits__description {
    font-size: 1rem;
    line-height: 150%;
  }
}

.home-reviews {
  padding-block: 4rem;
}
@media (max-width: 47.9988rem) {
  .home-reviews {
    padding-block: 3.75rem;
  }
}
@media (max-width: 31.25rem) {
  .home-reviews {
    padding-block: 2.75rem;
  }
}
.home-reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 47.9988rem) {
  .home-reviews__header {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 90rem) {
  .content-home-reviews {
    margin-right: -1.75rem;
  }
}
@media (max-width: 90rem) and (max-width: 61.9988rem) {
  .content-home-reviews {
    margin-right: -1.5rem;
  }
}
@media (max-width: 90rem) and (max-width: 31.25rem) {
  .content-home-reviews {
    margin-right: -1rem;
  }
}
.content-home-reviews__wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.content-home-reviews__slide {
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-home-reviews__body {
  font-family: var(--second-family);
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.5rem;
  border-left: 0.0625rem solid var(--brand-500);
}
.content-home-reviews__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--neutral-500);
  margin-bottom: 1.5rem;
}
@media (max-width: 31.25rem) {
  .content-home-reviews__text {
    font-size: 1.125rem;
  }
}
.content-home-reviews__name {
  font-size: 1.125rem;
  line-height: 144%;
  color: var(--brand-500);
}
.content-home-reviews__pagination {
  margin-top: 1.25rem;
}
@media (max-width: 31.25rem) {
  .content-home-reviews__pagination {
    margin-top: 2rem;
  }
}

.home-contacts {
  background: var(--darkblue-500);
}
.home-contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 61.9988rem) {
  .home-contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
.home-contacts__body {
  color: var(--primary-white);
  padding-block: 2.75rem;
}
@media (min-width: 40.6875rem) and (max-width: 61.9988rem) {
  .home-contacts__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
@media (max-width: 40.625rem) {
  .home-contacts__body {
    text-align: center;
  }
}
.home-contacts__title {
  color: var(--primary-white);
  margin-bottom: 1.25rem;
}
@media (max-width: 40.625rem) {
  .home-contacts__title {
    margin-bottom: 2rem;
  }
}
.home-contacts__subtitle {
  margin-bottom: 2rem;
  color: var(--content-text-light);
}
@media (max-width: 61.9988rem) {
  .home-contacts__subtitle {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 40.625rem) {
  .home-contacts__subtitle {
    display: none;
  }
}
.home-contacts__list {
  margin-bottom: 3.75rem;
}
@media (max-width: 61.9988rem) {
  .home-contacts__list {
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 2.5rem;
  }
}
.home-contacts__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 40.625rem) {
  .home-contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home-contacts__link {
  color: var(--content-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  max-width: 14.75rem;
}
@media (any-hover: hover) {
  .home-contacts__link:hover {
    text-decoration: underline;
  }
}
.home-contacts__icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-contacts__icon svg {
  width: 20px;
  height: 20px;
}
.home-contacts__text {
  font-style: normal;
}
.home-contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.625rem;
          flex: 0 0 36.625rem;
  position: relative;
}
@media (max-width: 90rem) {
  .home-contacts__map {
    margin-right: -1.75rem;
  }
}
@media (max-width: 90rem) and (max-width: 61.9988rem) {
  .home-contacts__map {
    margin-inline: -1.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-height: 31.25rem;
  }
}
@media (max-width: 90rem) and (max-width: 47.9988rem) {
  .home-contacts__map {
    min-height: 20rem;
  }
}
@media (max-width: 90rem) and (max-width: 31.25rem) {
  .home-contacts__map {
    margin-inline: -1rem;
  }
}
.home-contacts__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home-contacts__button {
  padding: 1rem 1.25rem;
}
@media (max-width: 30rem) {
  .home-contacts__button {
    display: block;
    width: 100%;
  }
}

.footer {
  padding: 1.25rem 0;
  background: #f3f3f3;
  text-align: center;
}
.footer__container {
  max-width: 75.25rem;
}
.footer__logo {
  margin-bottom: 2rem;
  width: 8.3125rem;
  display: inline-block;
}
@media (max-width: 61.9988rem) {
  .footer__logo {
    margin-bottom: 1.5rem;
    width: 6.375rem;
  }
}
.footer__copy {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  text-align: center;
  color: #5e5e5e;
  padding-top: 2rem;
  border-top: 0.0625rem solid var(--brand-500);
}
@media (max-width: 61.9988rem) {
  .footer__copy {
    padding-top: 1.5rem;
  }
}

.items-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media (max-width: 61.9988rem) {
  .items-footer {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 41.875rem) {
  .items-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
.items-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding-inline: 0.75rem;
}
@media (min-width: 53.125rem) {
  .items-footer__item {
    padding-inline: 2.5rem;
  }
}
.items-footer__item:not(:last-child) {
  position: relative;
}
.items-footer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 100%;
  bottom: 0;
  right: 0;
  background: var(--brand-500);
}
@media (max-width: 41.875rem) {
  .items-footer__item:not(:last-child)::after {
    right: 50%;
    height: 2.5rem;
  }
}
@media (max-width: 41.875rem) {
  .items-footer__item:not(:last-child) {
    padding-bottom: 3.75rem;
  }
}
.items-footer__title {
  font-family: var(--second-family);
  font-size: 1.125rem;
  color: var(--content-text-dark);
  margin-bottom: 1.5rem;
}
@media (max-width: 61.9988rem) {
  .items-footer__title {
    color: var(--darkblue-500);
    margin-bottom: 1.25rem;
  }
}
.items-footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  text-align: center;
  color: var(--neutral-500);
}
@media (max-width: 41.875rem) {
  .items-footer__address {
    max-width: 15.3125rem;
    margin: 0 auto;
  }
}
.items-footer__tel {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  text-align: center;
  color: var(--neutral-500);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}
@media (max-width: 61.9988rem) {
  .items-footer__tel {
    gap: 0.625rem;
  }
}
@media (any-hover: hover) {
  .items-footer__tel:hover .items-footer__text {
    color: var(--brand-600);
  }
}
.items-footer__icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items-footer__icon svg {
  width: 20px;
  height: 20px;
}
.items-footer__text {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.items-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items-footer__link {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items-footer__link svg {
  width: 20px;
  height: 20px;
}
.items-footer__link {
  color: var(--neutral-500);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .items-footer__link:hover {
    color: var(--brand-600);
  }
}

.categories-hero {
  position: relative;
  padding: 3.75rem 0 5rem;
}
@media (max-width: 47.9988rem) {
  .categories-hero {
    padding: 3.75rem 0 3.75rem;
  }
}
@media (max-width: 30rem) {
  .categories-hero {
    padding: 2.75rem 0 2.75rem;
  }
}
.categories-hero__container {
  position: relative;
  z-index: 2;
  max-width: 75.25rem;
}
.categories-hero__header {
  text-align: center;
  margin-bottom: 2.75rem;
}
.categories-hero__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 109%;
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 1.25rem;
}
@media (max-width: 61.9988rem) {
  .categories-hero__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 767.9808px) {
  .categories-hero__title {
    font-size: 2.25rem;
    line-height: 111%;
  }
}
.categories-hero__subtitle {
  font-size: 1.125rem;
  line-height: 144%;
  color: var(--content-text-light);
}
@media (max-width: 767.98px) {
  .categories-hero__subtitle {
    font-size: 1rem;
    line-height: 150%;
  }
}

@media (max-width: 767.98px) {
  .body-categories-hero {
    margin-right: -24px;
  }
}
.body-categories-hero__slide {
  width: 13.75rem;
  margin-right: 1.25rem;
}
@media (min-width: 767.98px) {
  .body-categories-hero__slide {
    width: 16.8125rem;
  }
  .body-categories-hero__slide:not(:last-child) {
    margin-right: 24px;
  }
}
.body-categories-hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  background: rgba(8, 30, 63, 0.1);
  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);
  border: 0.0625rem solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  will-change: backdrop-filter, transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  isolation: isolate;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  .body-categories-hero__content {
    padding: 1.5rem;
  }
}
@media (any-hover: hover) {
  .body-categories-hero__content:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.3);
  }
}
.body-categories-hero__icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body-categories-hero__icon svg {
  width: 60px;
  height: 60px;
}
.body-categories-hero__icon {
  color: var(--content-icons);
}
.body-categories-hero__title {
  text-align: center;
  color: var(--content-text-light);
  font-family: var(--second-family);
  font-size: 1.5rem;
  line-height: 133%;
}
@media (min-width: 47.9988rem) {
  .body-categories-hero__title {
    font-size: 1.75rem;
    line-height: 143%;
  }
}
.body-categories-hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--content-icons);
  gap: 0.625rem;
  padding-block: 0.5625rem;
}
.body-categories-hero__button-icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body-categories-hero__button-icon svg {
  width: 24px;
  height: 24px;
}