$containerWidth: 1440;

@import "nullstyle.scss";
@import "mixins.scss";
@import "fonts.scss";

//

:root {
	/* Brand colors */
	--brand-100: #f2eade;
	--brand-200: #e5d6be;
	--brand-300: #d8c19d;
	--brand-400: #cbad7d;
	--brand-500: #be985c;
	--brand-600: #987a4a;
	--brand-700: #725b37;
	--brand-800: #4c3d25;
	--brand-900: #261e12;

	/* Darkblue colors */
	--darkblue-100: #ced2d9;
	--darkblue-200: #9ca5b2;
	--darkblue-300: #6b788c;
	--darkblue-400: #394b65;
	--darkblue-500: #081e3f;
	--darkblue-600: #061832;
	--darkblue-700: #051226;
	--darkblue-800: #030c19;
	--darkblue-900: #02060d;

	/* Neutral colors */
	--neutral-100: #d9dadd;
	--neutral-200: #b3b6bb;
	--neutral-300: #8c9199;
	--neutral-400: #666d77;
	--neutral-500: #404855;
	--neutral-600: #333a44;
	--neutral-700: #262b33;
	--neutral-800: #1a1d22;
	--neutral-900: #0d0e11;

	/* Primary colors */
	--primary-white: #fff;
	--primary-black: #000;
	--primary-white-50: rgba(255, 255, 255, 0.5);
	--primary-black-50: rgba(0, 0, 0, 0.5);

	/* Content & UI elements */
	--content-text-dark: #172339;
	--content-secondary-text: #404855;
	--content-button-1: #081e3f;
	--content-button-2: #be985c;
	--content-icons: #cbac7c;
	--content-text-light: #f3f2f0;
	--content-pagination: #f0ede0;
	--border-line: #cbac7c;
	--bg-dark: #081e3f;
	--bg-light: #faf9f5;
	--content-logos: #b2afa4;

	/* font families*/
	--font-family: "Montserrat", sans-serif;
	--second-family: "Radley", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--font-family);
	color: #000;
	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;
	background: var(--primary-white);
	-webkit-font-smoothing: antialiased;
	&._lock {
		overflow: hidden;
	}
}

//

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: $containerWidth + px;
	margin: 0 auto;
	padding-inline: 1.75rem;
	@media (max-width: 61.9988rem) {
		padding-inline: 1.5rem;
	}
	@media (max-width: 31.25rem) {
		padding-inline: 1rem;
	}
}

.button {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 144%;
	color: var(--primary-white);
	padding: 1rem 1.25rem;
	border-radius: 0.25rem;
	display: inline-block;
	background: var(--brand-500);
	@media (max-width: 61.9988rem) {
		padding: 0.75rem 1rem;
	}
	text-align: center;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: var(--brand-600);
		}
	}
	&-secondary {
		background: var(--darkblue-500);
		@media (any-hover: hover) {
			&:hover {
				background: var(--darkblue-400);
			}
		}
	}
}

.ibg {
	position: relative;
	img,
	video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
	}
}

.title {
	font-family: var(--second-family);
	font-size: 1.75rem;
	line-height: 143%;
	color: var(--content-text-dark);
	@media (min-width: 61.9988rem) {
		font-size: 2.75rem;
		line-height: 109%;
	}
}

.pagination {
	margin-top: 1.5rem;

	@media (min-width: 61.9988rem) {
		display: none;
	}
	text-align: center;
	&.swiper-pagination-bullets .swiper-pagination-bullet {
		width: 0.75rem;
		height: 0.75rem;
		margin-left: 0;
		opacity: 1;
		background: var(--content-pagination);
		&:not(:last-child) {
			margin-right: 0.5rem;
		}
		&.swiper-pagination-bullet-active {
			background: var(--darkblue-500);
		}
	}
}

.swiper-nav {
	display: flex;
	gap: 1rem;
	@media (max-width: 61.9988rem) {
		display: none;
	}
	&__button {
		width: 3.375rem;
		height: 3.375rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--darkblue-500);
		color: var(--primary-white);
		border: 0.0625rem solid var(--darkblue-500);
		transition:
			background 0.3s ease 0s,
			color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: var(--darkblue-400);
			}
		}
		svg {
			width: 1.125rem;
			height: 1.125rem;
		}
		&.swiper-button-disabled {
			background: transparent;
			color: var(--darkblue-500);
			cursor: not-allowed;
			@media (any-hover: hover) {
				&:hover {
					background: none;
					border-color: var(--darkblue-400);
					color: var(--darkblue-400);
				}
			}
		}
	}

	&__button-prev {
		transform: rotate(180deg);
	}

	&__button-next {
	}
}

//==========================================================================================================================================================

.header {
	padding: 0.75rem 0;
	background: var(--primary-white);
	position: relative;
	z-index: 100;
	&__container {
		display: flex;
		align-items: center;
		gap: 2rem;
		@media (max-width: 61.9988rem) {
			gap: 1.5rem;
		}
		@media (max-width: 43.75rem) {
			justify-content: space-between;
		}
	}
	@media (max-width: 75rem) {
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: var(--primary-white);
			z-index: 2;
		}
	}

	&__logo {
		position: relative;
		z-index: 3;
		@media (min-width: 75rem) {
			padding-right: 2rem;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 0.0625rem;
				height: 2rem;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background: var(--brand-500);
			}
		}
	}
	&__link {
		display: block;
		@include adaptiveValue(width, 133, 81);
	}

	&__mobile-wrapper {
		@media (min-width: 43.75rem) {
			display: contents;
		}
		@media (max-width: 43.75rem) {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -120%;
			padding-inline: 1.75rem;
			padding-top: 7.5rem;
			padding-bottom: 1.875rem;
			transition: all 0.3s ease 0s;
			z-index: 1;
			overflow: auto;
			background: var(--primary-white);

			padding-inline: 1rem;
			&:has(.header-menu._active) {
				left: 0;
			}
		}
	}
}
.header-menu {
	@media (min-width: 43.75rem) and (max-width: 75rem) {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -120%;
		padding-inline: 1.75rem;
		padding-top: 7.5rem;
		padding-bottom: 1.875rem;
		transition: all 0.3s ease 0s;
		z-index: 1;
		overflow: auto;
		background: var(--primary-white);
		@media (max-width: 61.9988rem) {
			padding-inline: 1.5rem;
		}
		@media (max-width: 47.9988rem) {
			padding-inline: 1rem;
		}
		&._active {
			left: 0;
		}
	}
	&__list {
		display: flex;
		@include adaptiveValue(gap, 40, 30);
		@media (max-width: 75rem) {
			flex-direction: column;
			font-size: 1.125rem;
			gap: 1.25rem;
		}
	}

	&__item {
	}

	&__link {
		color: var(--content-text-dark);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--brand-500);
			}
		}
	}
}
.actions-header {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-left: auto;
	position: relative;
	z-index: 3;
	@media (max-width: 61.9988rem) {
		gap: 1.5rem;
	}
	@media (max-width: 43.75rem) {
		flex-direction: column;
		margin-left: 0;
		align-items: flex-start;
		gap: 1.25rem;
	}
	&__numb {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 144%;
		text-align: right;
		color: var(--darkblue-500);
		@media (any-hover: hover) {
			&:hover {
				.actions-header__text {
					color: var(--brand-600);
				}
			}
		}
		@media (min-width: 43.75rem) and (max-width: 61.9988rem) {
			font-size: 1.0625rem;
		}
	}

	&__icon {
		@include svgSizes(20, 20);
	}

	&__text {
		transition: all 0.3s ease 0s;
	}

	&__button {
	}
}

.burger-menu {
	display: none;
	width: 2.75rem;
	height: 2.75rem;
	background: transparent;
	position: relative;
	z-index: 3;
	padding: 0.8125rem 0.75rem;
	&__wrapper {
		position: relative;
		display: flex;
		width: 100%;
	}
	&._active {
		.burger-menu__line-2 {
			width: 0;
			transition: all 0s ease 0.3s;
		}
		.burger-menu__line-1 {
			position: absolute;
			top: 50%;
			left: 0;
			transform: rotate(40deg) translate(0, -50%);
			transition:
				top 0.3s ease 0s,
				transform 0.3s ease 0.3s;
		}
		.burger-menu__line-3 {
			position: absolute;
			bottom: 50%;
			left: 0;
			transform: rotate(-40deg) translate(0, 50%);
			transition:
				bottom 0.3s ease 0s,
				transform 0.3s ease 0.3s;
		}
	}
	@media (max-width: 75rem) {
		display: flex;
	}
	&__line {
		background: #000000;
		width: 100%;
		height: 0.125rem;
		border-radius: 6.25rem;
		position: absolute;
		&-1 {
			top: 0;
			left: 0;
			transition:
				transform 0.3s ease 0s,
				top 0.3s ease 0.3s;
		}

		&-2 {
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			transition: all 0s ease 0.3s;
		}

		&-3 {
			bottom: 0;
			left: 0;
			transition:
				transform 0.3s ease 0s,
				bottom 0.3s ease 0.3s;
		}
	}
}

//==========================================================================================================================================================

.home-hero {
	position: relative;
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		padding-block: 3.75rem;
		gap: 2.75rem;
		color: var(--primary-white);

		@media (max-width: 47.9988rem) {
			padding-block: 2.75rem;
		}
		@media (min-width: 61.9988rem) {
			gap: 5rem;
		}
		@media (max-width: 42.5rem) {
			flex-direction: column;
			padding-bottom: 0rem;
		}
	}
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, #081e3f 0%, rgba(25, 31, 38, 0.32) 52.4%, #081e3f 100%);
		}
	}

	&__info {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 39.25rem;
		@media (min-width: 75rem) {
			margin-left: 7.375rem;
		}
		@media (max-width: 42.5rem) {
			align-items: center;
			text-align: center;
		}
	}

	&__title {
		font-size: 2.25rem;
		margin-bottom: 1.75rem;
		font-family: var(--second-family);
		line-height: 110%;

		@media (min-width: 61.9988rem) {
			font-size: 3.25rem;
			margin-bottom: 1.25rem;
		}
		@media (max-width: 42.5rem) {
			max-width: 31.25rem;
		}
		@media (max-width: 42.5rem) {
			margin-inline: auto;
		}
	}

	&__benefits {
		flex: 1 1 auto;
		margin-bottom: 2.75rem;
		@media (max-width: 42.5rem) {
			width: 100%;
		}
	}

	&__list {
	}

	&__item {
		display: flex;
		gap: 0.75rem;
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 143%;
		color: var(--content-text-light);
		@media (min-width: 61.9988rem) {
			font-size: 1rem;
			line-height: 150%;
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
		@media (max-width: 42.5rem) {
			justify-content: center;
		}
	}

	&__icon {
		@include svgSizes(18, 18);
		@media (min-width: 61.9988rem) {
			@include svgSizes(20, 20);
		}
	}

	&__text {
	}

	&__button {
		padding: 1rem 1.25rem;
		@media (max-width: 30rem) {
			display: block;
			width: 100%;
		}
	}
}

.card-home-hero {
	position: relative;
	z-index: 2;
	@media (min-width: 61.9988rem) {
		flex: 0 0 27.5rem;
	}
	@media (max-width: 61.9988rem) {
		flex: 0 0 19.875rem;
	}
	@media (max-width: 42.5rem) {
		max-width: 27.5rem;
		margin: 0 auto;
	}

	&__card {
		display: block;
		padding: 0.75rem;
		border-radius: 0.25rem;

		background: rgba(8, 30, 63, 0.1);

		backdrop-filter: blur(0.125rem);
		-webkit-backdrop-filter: blur(0.125rem);

		border: 0.0625rem solid rgba(255, 255, 255, 0.15);

		box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease 0s;
		will-change: backdrop-filter, transform;
		transform: translateZ(0);
		isolation: isolate;
		@media (any-hover: hover) {
			&:hover {
				background: rgba(255, 255, 255, 0.1);
				border-color: rgba(255, 255, 255, 0.2);
				box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.3);
			}
		}
	}

	&__image {
		display: block;
		aspect-ratio: 16/9;
		border-radius: 0.25rem;
		overflow: hidden;
		margin-bottom: 1.5rem;
		img {
			transition: all 0.4s ease 0s;
		}
	}
	&__body {
		padding: 0 0.5rem 0.5rem;
	}

	&__title {
		margin-bottom: 0.5rem;
		font-family: var(--second-family);
		font-size: 1.5rem;
		line-height: 133%;
		color: var(--primary-white);

		@media (min-width: 61.9988rem) {
			font-size: 1.75rem;
			line-height: 143%;
		}
	}

	&__subtitle {
		font-size: 0.875rem;
		line-height: 143%;
		color: var(--content-text-light);
		margin-bottom: 1.25rem;
		@media (min-width: 61.9988rem) {
			margin-bottom: 1.5rem;
		}
	}

	&__button {
		color: var(--content-icons);
		display: inline-flex;
		gap: 0.625rem;
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 144%;
		padding-block: 0.5rem;
		@media (min-width: 61.9988rem) {
			padding-block: 0.5625rem;
		}
	}

	&__text {
	}

	&__icon {
		@include svgSizes(24, 24);
	}
}

//==========================================================================================================================================================

.home-services {
	background: var(--darkblue-500);
	padding-top: 3.75rem;
	padding-bottom: 5rem;
	@media (max-width: 47.9988rem) {
		padding-block: 3.75rem;
	}
	@media (max-width: 31.25rem) {
		padding-block: 2rem;
	}
	&__container {
		max-width: 75.25rem;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
		@media (max-width: 61.9988rem) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 39.375rem) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		color: var(--content-text-light);
		text-align: center;
		padding: 0.75rem;
		@media (min-width: 61.9988rem) {
			padding: 1.625rem;
		}
	}

	&__icon {
		color: var(--content-icons);
		margin-bottom: 1rem;
		@include svgSizes(60, 60);
		margin-inline: auto;
		@media (min-width: 47.9988rem) {
			margin-bottom: 1.25rem;
		}
	}

	&__title {
		font-family: var(--second-family);
		font-size: 1.5rem;
		line-height: 133%;
		text-align: center;
		margin-bottom: 0.75rem;
		@media (min-width: 61.9988rem) {
			font-size: 1.75rem;
			line-height: 143%;
			margin-bottom: 1rem;
		}
		@media (max-width: 31.25rem) {
			margin-bottom: 0;
		}
	}

	&__text {
		line-height: 150%;
		@media (max-width: 31.25rem) {
			display: none;
		}
	}
}

//==========================================================================================================================================================

.home-destinations {
	padding-block: 4rem;
	@media (max-width: 43.75rem) {
		padding-block: 3.75rem;
	}
	@media (max-width: 28.125rem) {
		padding-block: 2.75rem;
	}
	&__container {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		gap: 0.9375rem;
		margin-bottom: 2rem;
		align-items: center;
	}

	&__title {
		@media (max-width: 38.75rem) {
			text-align: center;
			width: 100%;
		}
	}

	&__actions {
		display: flex;
		gap: 2rem;
	}
	&__button {
		padding: 1rem 4rem;
		@media (max-width: 38.75rem) {
			display: none;
		}
	}

	&__nav {
	}
	&__footer {
		@media (min-width: 38.75rem) {
			display: none;
		}
		text-align: center;
		margin-top: 2rem;
	}
	&__mobile-button {
		padding: 1rem 4rem;
		@media (max-width: 30rem) {
			display: block;
			text-align: center;
		}
	}
}

.content-home-destinations {
	@media (max-width: 50rem) {
		margin-right: -1.5rem;
	}
	@media (max-width: 31.25rem) {
		margin-right: -1rem;
	}
	&__swiper {
		@media (any-hover: hover) {
			padding: 0 1.625rem;
			margin: 0 -1.625rem;
		}
	}

	&__wrapper {
	}

	&__slide {
		width: 20.125rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
		@media (max-width: 50rem) {
			width: 18.75rem;
			&:not(:last-child),
			&:last-child {
				margin-right: 1.25rem;
			}
		}
		@media (max-width: 30rem) {
			width: 15rem;
		}
	}
	&__slide-wrapper {
		@media (any-hover: hover) {
			&:hover {
				.content-home-destinations__title {
					color: var(--brand-600);
				}
				.content-home-destinations__image {
					box-shadow: 0 0.75rem 1.625rem 0 rgba(0, 0, 0, 0.24);

					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	&__visual {
		position: relative;
		margin-bottom: 1rem;
		display: block;
		@media (max-width: 43.75rem) {
			margin-bottom: 1.3125rem;
		}
		@media (max-width: 28.125rem) {
			margin-bottom: 0.75rem;
		}
	}

	&__image {
		aspect-ratio: 16/9;
		border-radius: 0.25rem;
		overflow: hidden;
		transition: all 0.5s ease 0s;

		img {
			transition: all 0.5s ease 0s;
		}
	}

	&__category {
		display: inline-block;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		background: var(--darkblue-500);
		position: absolute;
		top: 0.8125rem;
		left: 0.75rem;
		font-size: 1rem;
		line-height: 150%;
		color: var(--primary-white);
		@media (max-width: 61.9988rem) {
			font-size: 0.875rem;
			line-height: 143%;
		}
	}

	&__title {
		margin-bottom: 0.625rem;
		font-family: var(--second-family);
		font-size: 1.25rem;
		line-height: 160%;
		color: var(--content-text-dark);
		transition: all 0.5s ease 0s;
	}

	&__description {
		font-size: 1rem;
		line-height: 150%;
		color: var(--neutral-500);
	}
	&__pagination {
	}
}

//==========================================================================================================================================================

.home-tips {
	padding-bottom: 1.5rem;

	background: var(--bg-light);
	@media (min-width: 45.9375rem) {
		padding-bottom: 0;
	}
	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		@media (max-width: 45.9375rem) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__image {
		flex: 0 0 23.75rem;
		margin-left: -1.75rem;
		margin-right: 2.5rem;

		@media (max-width: 75rem) {
			flex: 0 0 7.8125rem;
		}
		@media (max-width: 61.9988rem) {
			margin-left: -1.5rem;
		}
		@media (max-width: 51.25rem) {
			margin-right: 1.25rem;
		}
		@media (max-width: 45.9375rem) {
			margin-inline: -1.5rem;
			margin-bottom: 1.5rem;
		}
		@media (max-width: 31.25rem) {
			margin-left: -1rem;
		}
	}

	&__info {
		flex: 1 1 auto;
		display: flex;
		gap: 1rem;
		align-items: center;
		@media (min-width: 61.9988rem) {
			gap: 1.5rem;
		}
		margin-right: 2.5rem;
		margin-bottom: 1.25rem;
		@media (max-width: 51.25rem) {
			margin-right: 0.75rem;
		}
		@media (min-width: 46rem) {
			margin-bottom: 0;
			&::after {
				content: "";
				flex: 1 1 auto;
				height: 0.0625rem;
				background: var(--brand-500);
				transform: translate(0, -50%);
				@media (max-width: 51.25rem) {
					margin-left: -0.25rem;
				}
			}
		}
		@media (max-width: 45.9375rem) {
			margin-right: 0;
		}
	}

	&__icon {
		color: var(--brand-500);
		@include svgSizes(44, 44);
		flex: 0 0 2.75rem;
	}

	&__details {
		@media (min-width: 45.9375rem) {
			flex: 0 0 auto;
		}
	}

	&__title {
		font-family: var(--second-family);
		font-size: 1.5rem;
		line-height: 133%;
		margin-bottom: 0.5rem;

		color: var(--content-text-dark);
		@media (min-width: 61.9988rem) {
			font-size: 1.75rem;
			line-height: 143%;
			margin-bottom: 0.75rem;
		}
	}

	&__subtitle {
		font-size: 1rem;
		line-height: 150%;
		color: var(--neutral-500);
		@media (min-width: 61.9988rem) {
			font-size: 1.125rem;
			line-height: 144%;
		}
	}

	&__button {
		flex: 0 0 auto;
		@media (max-width: 45.9375rem) {
			display: block;
			width: 100%;
		}
	}
}

//==========================================================================================================================================================

.home-partners {
	padding-block: 5rem;
	@media (max-width: 47.9988rem) {
		padding-block: 3.75rem;
	}
	@media (max-width: 28.125rem) {
		padding-block: 2.75rem;
	}
	&__container {
	}

	&__header {
		text-align: center;
		margin-bottom: 2rem;
		@media (min-width: 47.9988rem) {
			margin-bottom: 2.5rem;
		}
	}

	&__title {
		margin-bottom: 1.25rem;
	}

	&__subtitle {
	}
}

.content-home-partners {
	max-width: 86.875rem;
	display: flex;
	align-items: center;
	gap: 2.375rem;
	margin-inline: auto;
	&__body {
		min-width: 0;
	}
	&__swiper {
	}

	&__slide-wrapper {
	}

	&__slide {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__slide-wrapper {
		width: 14rem;
		height: 6.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.content-home-partners__partner-logo {
					opacity: 0;
					visibility: hidden;
				}
				.content-home-partners__partner-logo.--on-hover {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&__partner-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;

		&.--on-hover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			z-index: 10;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
		}
	}

	&__nav {
	}
	.swiper-nav__button {
		flex: 0 0 3.375rem;
		@media (max-width: 61.9988rem) {
			display: none;
		}
	}

	.swiper-nav__button-prev {
	}

	.swiper-nav__button-next {
	}

	&__pagination {
		display: block;
		margin-top: 1.25rem;
		@media (min-width: 47.9988rem) {
			margin-top: 1.75rem;
		}
	}
}

//==========================================================================================================================================================

.home-benefits {
	background: var(--darkblue-500);
	padding-block: 2.75rem;
	&__container {
	}

	&__body {
		display: flex;
		color: var(--primary-white);
		gap: 3.75rem;
		align-items: center;
		@media (max-width: 87.5rem) {
			gap: 2.5rem;
			flex-direction: column;
			align-items: flex-start;
		}
		@media (max-width: 41.875rem) {
			gap: 2rem;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 3.75rem;
		flex: 0 0 auto;
		&::after {
			content: "";
			height: 4.9375rem;
			width: 0.0625rem;
			background: var(--content-icons);
			@media (max-width: 87.5rem) {
				height: 0.0625rem;
				width: 4.9375rem;
			}
			@media (max-width: 41.875rem) {
				width: 0.0625rem;
				height: 2.5rem;
			}
		}
		@media (max-width: 87.5rem) {
			gap: 2rem;
		}
		@media (max-width: 41.875rem) {
			flex-direction: column;
			align-items: center;
			flex: 1 1 auto;
			width: 100%;
		}
	}

	&__title {
		font-family: var(--second-family);
		font-size: 1.75rem;
		line-height: 143%;
	}

	&__line {
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
		@media (max-width: 87.5rem) {
			max-width: 56.25rem;
			margin-inline: auto;
			gap: 1.5rem;
		}
		@media (max-width: 41.875rem) {
			grid-template-columns: repeat(2, 1fr);
			max-width: 25rem;
		}
		@media (max-width: 23.75rem) {
			grid-template-columns: repeat(1, 1fr);
			max-width: 15.625rem;
		}
	}

	&__item {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		@include svgSizes(44, 44);
		color: var(--content-icons);
		margin-bottom: 1.25rem;
	}

	&__description {
		font-family: var(--second-family);
		font-size: 1.125rem;
		line-height: 144%;
		color: var(--content-text-light);
		@media (min-width: 41.875rem) and (max-width: 61.9988rem) {
			font-size: 1rem;
			line-height: 150%;
		}
	}
}

//==========================================================================================================================================================

.home-reviews {
	padding-block: 4rem;
	@media (max-width: 47.9988rem) {
		padding-block: 3.75rem;
	}
	@media (max-width: 31.25rem) {
		padding-block: 2.75rem;
	}
	&__container {
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.9375rem;
		margin-bottom: 2.5rem;
		@media (min-width: 47.9988rem) {
			margin-bottom: 3.75rem;
		}
	}

	&__title {
	}

	&__nav {
	}

	&__button-prev {
	}

	&__button-next {
	}
}

.content-home-reviews {
	@media (max-width: 90rem) {
		margin-right: -1.75rem;
		@media (max-width: 61.9988rem) {
			margin-right: -1.5rem;
		}
		@media (max-width: 31.25rem) {
			margin-right: -1rem;
		}
	}

	&__swiper {
	}

	&__wrapper {
		align-items: stretch;
	}

	&__slide {
		height: auto !important;
		display: flex;
	}

	&__body {
		font-family: var(--second-family);
		font-style: italic;
		display: flex;
		flex-direction: column;
		padding-left: 1.5rem;
		border-left: 0.0625rem solid var(--brand-500);
	}

	&__text {
		flex: 1 1 auto;
		font-size: 1.25rem;
		line-height: 160%;
		color: var(--neutral-500);
		margin-bottom: 1.5rem;
		@media (max-width: 31.25rem) {
			font-size: 1.125rem;
		}
	}

	&__name {
		font-size: 1.125rem;
		line-height: 144%;
		color: var(--brand-500);
	}

	&__pagination {
		margin-top: 1.25rem;
		@media (max-width: 31.25rem) {
			margin-top: 2rem;
		}
	}
}

//==========================================================================================================================================================

.home-contacts {
	background: var(--darkblue-500);
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 1.875rem;
		@media (max-width: 61.9988rem) {
			flex-direction: column;
			gap: 0;
		}
	}

	&__body {
		color: var(--primary-white);
		padding-block: 2.75rem;
		@media (min-width: 40.6875rem) and (max-width: 61.9988rem) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
		}
		@media (max-width: 40.625rem) {
			text-align: center;
		}
	}

	&__title {
		color: var(--primary-white);
		margin-bottom: 1.25rem;
		@media (max-width: 40.625rem) {
			margin-bottom: 2rem;
		}
	}

	&__subtitle {
		margin-bottom: 2rem;
		color: var(--content-text-light);
		@media (max-width: 61.9988rem) {
			grid-row-start: 2;
			grid-row-end: 3;
			margin-bottom: 2.5rem;
		}
		@media (max-width: 40.625rem) {
			display: none;
		}
	}

	&__list {
		margin-bottom: 3.75rem;
		@media (max-width: 61.9988rem) {
			grid-row-start: 1;
			grid-row-end: 3;
			margin-bottom: 2.5rem;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		@media (max-width: 40.625rem) {
			display: flex;
			justify-content: center;
		}
	}

	&__link {
		color: var(--content-text-light);
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 143%;
		max-width: 14.75rem;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__icon {
		@include svgSizes(20, 20);
	}

	&__text {
		font-style: normal;
	}

	&__map {
		flex: 0 0 36.625rem;
		position: relative;

		@media (max-width: 90rem) {
			margin-right: -1.75rem;
			@media (max-width: 61.9988rem) {
				margin-inline: -1.5rem;
				flex: 1 1 auto;
				min-height: 31.25rem;
			}
			@media (max-width: 47.9988rem) {
				min-height: 20rem;
			}
			@media (max-width: 31.25rem) {
				margin-inline: -1rem;
			}
		}
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__footer {
		// @media (max-width: 61.9988rem) {
		// 	text-align: center;
		// 	grid-column-start: 1;
		// 	grid-column-end: 3;
		// }
	}
	&__button {
		padding: 1rem 1.25rem;
		@media (max-width: 30rem) {
			display: block;
			width: 100%;
		}
	}
}

//==========================================================================================================================================================
.footer {
	padding: 1.25rem 0;
	background: #f3f3f3;
	text-align: center;
	&__container {
		max-width: 75.25rem;
	}

	&__logo {
		margin-bottom: 2rem;
		width: 8.3125rem;
		display: inline-block;
		@media (max-width: 61.9988rem) {
			margin-bottom: 1.5rem;
			width: 6.375rem;
		}
	}

	&__copy {
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 143%;
		text-align: center;
		color: #5e5e5e;
		padding-top: 2rem;
		border-top: 0.0625rem solid var(--brand-500);

		@media (max-width: 61.9988rem) {
			padding-top: 1.5rem;
		}
	}
}
.items-footer {
	display: flex;
	max-width: 62rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	@media (max-width: 61.9988rem) {
		margin-bottom: 1.5rem;
	}
	@media (max-width: 41.875rem) {
		flex-direction: column;
		gap: 1.25rem;
	}
	&__item {
		flex: 0 0 33.333%;
		padding-inline: 0.75rem;
		@media (min-width: 53.125rem) {
			padding-inline: 2.5rem;
		}
		&:not(:last-child) {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 0.0625rem;
				height: 100%;
				bottom: 0;
				right: 0;
				background: var(--brand-500);
				@media (max-width: 41.875rem) {
					right: 50%;
					height: 2.5rem;
				}
			}
			@media (max-width: 41.875rem) {
				padding-bottom: 3.75rem;
			}
		}
	}

	&__title {
		font-family: var(--second-family);
		font-size: 1.125rem;
		color: var(--content-text-dark);
		margin-bottom: 1.5rem;
		@media (max-width: 61.9988rem) {
			color: var(--darkblue-500);
			margin-bottom: 1.25rem;
		}
	}

	&__address {
		font-style: normal;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 143%;
		text-align: center;
		color: var(--neutral-500);
		@media (max-width: 41.875rem) {
			max-width: 15.3125rem;
			margin: 0 auto;
		}
	}

	&__tel {
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 143%;
		text-align: center;
		color: var(--neutral-500);
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		@media (max-width: 61.9988rem) {
			gap: 0.625rem;
		}
		@media (any-hover: hover) {
			&:hover {
				.items-footer__text {
					color: var(--brand-600);
				}
			}
		}
	}

	&__icon {
		@include svgSizes(20, 20);
	}

	&__text {
		transition: all 0.3s ease 0s;
	}

	&__nav {
	}

	&__list {
		display: flex;
		gap: 1.5rem;
		justify-content: center;
	}

	&__social {
	}

	&__link {
		@include svgSizes(20, 20);
		color: var(--neutral-500);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--brand-600);
			}
		}
	}
}
